body {
    background-color: #353b48;
    display: flex;
    justify-content: center;
}
.top {
    display: flex;
    justify-content: center;
}

.contents {
    margin-top: 50px;
    width: 450px;
}

.filter-box{
    display: flex;
    align-items: center;
    justify-content: center;
}
.filter {
 
    margin: 10px;
}

.clothes {
    width: 45px;
}

.filter.clothes:hover{
    width:50px;
}

.color-picker {
    padding: 10px;
    font-weight: 500;
    text-align: center;
}
.color-picker:hover{
    padding:13px;
}

.blue {
    background-color: #0097e6;
}

.yellow {
    background-color: #fbc531;
}

.pink {
    background-color: #fd79a8;
}

.items{
    height: 500px;
    overflow: auto;
}

.items::-webkit-scrollbar{
    display: none;
}

.item{
    display: flex;
    align-items: center;
    background-color: whitesmoke;
    border-radius: 5px;
    margin-bottom: 10px;
}

.item-clothe {
    margin : 3px 20px;
}

.item-info{
    font-size: 15px;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
}